{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Score</title>
    <link rel="stylesheet" href="{% static "./css/style.css" %}">
</head>
<body>
    <div class="container">
        <form action="addQuestionScore" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Score</h1>
        <div class="scores-form">
            <h2><i>{{ subject.name }}</i> fanidan {{ subject.count }} ta test.</h2>
            <p>Bunda siz testdan olgan baliga qaram darajasini belgilashingiz kerak. 1-majburiy.</p>
            <input type="hidden" name="subject_id" value="{{ subject.id }}">
            <input type="hidden" id="number_of_questions" value="{{ subject.count }}">
            
            <div class="score-form" id="score-form">
                <div class="scores">
                    <div class="select-score">
                        <label for="from1">From</label>

                        <select name="from1" id="from1">
                            {% for sc in count %}
                            <option value="{{sc}}">{{sc}}</option>
                            {% endfor %}
                        </select> 
                    </div>
                    <div class="select-score">
                        <label for="to1">To</label>

                        <select name="to1" id="to1">
                            {% for sc in count %}
                            <option value="{{sc}}" {% if forloop.last %}selected{% endif %}>{{sc}}</option>
                            {% endfor %}
                        </select> 
                    </div>
                    <input type="text" name="score1" class="score" placeholder="daraja..." required>
                </div>
            </div>
            <button type="button" onclick="addGrade()">Add Grade</button>

        </div>
        <div id="questionsContainer">
            <!-- Questions will be appended here -->
        </div>
        <button type="submit" id="submit">Submit</button>   

        </form>
    </div>

    <script src="{% static "./js/app.js" %}"></script>
</body>
</html>